<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="account-title">
        My account
      </h3>
    </div>
    <div class="panel-body">
      <div class="col-md-4">
        <img class="user-photo" ng-src="{{signUser.avatar}}">
        <ul class="user-info">
          <li class="user-full-name">
            <label class="control-label">Your Nickname
              <input class="form-control" type="text" ng-model="signUser.nickName" ng-disabled="!disabled.nickName">
            </label>
            <a class="btn btn-primary" href="" role="button" ng-click="edit('nickName')">Edit
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>
          </li>
          <li class="user-email">
            <label class="control-label">Your e-mail
              <input class="form-control" type="text" ng-model="signUser.email" ng-disabled="!disabled.email">
            </label>
            <a class="btn btn-primary" href="" role="button" ng-click="edit('email')">Edit
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>
          </li>
          <li class="user-location">
            <label class="control-label" ng-click="edit('location')">Your location
              <input class="form-control" type="text" ng-model="signUser.location" ng-disabled="!disabled.location">
            </label>
            <a class="btn btn-primary" href="" role="button">Edit
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <h3>Your games:</h3>
        <ul class="account-user-games-list">
          <li class="account-user-game-i col-md-3" ng-repeat="userGame in signUser.gamesCollection">
            <img ng-src="{{userGame.img}}">
            {{userGame.title}}
            <a href="" class="hover-wrapper" ng-click="deleteGame(userGame)">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a>
          </li>
        </ul>
        <form class="form-inline">
          <div class="form-group">
            <label for="add-game">Add one game</label>
            <input type="text" class="form-control" id="add-game" placeholder="Input game name" ng-model="searchGame.title" ng-change="hideResults()">
          </div>
          <button class="btn btn-primary" ng-click="addGame(searchGame)">Add</button>
          <div class="search-results">
            <div class="list-group clearfix" ng-if="searchGame && show">
              <a class="list-group-item" ng-repeat="game in allGames | filter:searchGame.title" href="" ng-click="choose(game)">{{game.title}}</a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="account-action">
      <button class="btn btn-success save-changes" ng-click="saveChanges(signUser._id, signUser)">Save changes</button>
    </div>
  </div>
</div>