.result{}
.result-game-title{}
.result-game-picture{}
.result-game-img{
  width: 100%;
}
.result-game-content{}
.result-game-genres-list{}
.result-game-genres-i{}
.genres-img{
  width: 20%;
  margin-right: 10px;
}